// @import url('./partials/_variables.scss');
@import url('./partials/_common.scss');
// @import url('./partials/_typography.scss');
html, body, .full_height {
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: rgb(176, 240, 234);
    color: rgb(2, 27, 51);
    height: calc(100% - 10rem);
    overflow-y: auto;
}